
_controllers/__pycache__/*
Enviroment/__pycache__/*
__pycache__/main.cpython-312.pyc
__pycache__/main.cpython-310.pyc
__pycache__/customEnviroments.cpython-310.pyc
SimResult/*
env
venv
Results/*
TrainingData/*
TrainModels/*
src/__pycache__
src/HyperParameterTuning/__pycache__
src/ModelTraining/__pycache__
src/SimulationPreparation/__pycache__